<form #loginForm="ngForm">
  Email : <input
            required
            type="text"
            class="form-control"
            ngModel
            #email="ngModel"
            email
            name="email">
  <div
    *ngIf="email.invalid && email.touched"
    class="alert alert-danger">
      l'email doit être valide
  </div>
  Password : <input
                #pwd="ngModel"
                required
                minlength="4"
                type="password"
                class="form-control"
                ngModel
                name="password">
  <div
    *ngIf="pwd.invalid && pwd.touched"
    class="alert alert-danger">
    Le mot de passe doit contenir au moins 4 caractères
  </div>
  <button
    [disabled]="loginForm.invalid"
    (click)="login(loginForm)"
    class="btn btn-primary">
    Login
  </button>
</form>
